.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-image: url('../assets/signUpLogin.jpg');
    background-position: center;
}
.signup h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
    font-family: var(--font-family);
}

.signup .field input{
    padding: 10px;
    font-size: 16px;
    font-family: var(--font-family);
    color: #000;
    border: none;
    border-radius: 12px;
}
.signup-submit-btn{
    padding: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font-family);
    font-size: 16px;

    cursor: pointer;
}
.signup-submit-btn:hover{
    color: #fff;
    background-color: #000;
}
.signup .have-account p{
    color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
}
.signup .have-account a{
    color: #ca7c7c;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.signup .have-account a:hover{
    color: #fff;
}

.signup .field p{
    color: red;
    /* font-weight: bold; */
    font-family: var(--font-family);
    font-size: 17px;


}
